packages:
  yum:
    amazon-efs-utils: []

commands:
  01_mount_efs:
    command: |
      mkdir -p /mnt/efs
      mount -t efs fs-03cfb8a76c599cd4c:/ /mnt/efs
      chown webapp:webapp /mnt/efs
    test: "! mountpoint -q /mnt/efs"

  02_ensure_db:
    command: |
      if [ ! -f /mnt/efs/database.sqlite ]; then
        touch /mnt/efs/database.sqlite
      fi
      chown webapp:webapp /mnt/efs/database.sqlite
