option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M
    composer_options: --no-dev --optimize-autoloader

  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
